<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="end">
            <ion-item color="dark" lines="none" [hidden]="!isMenuButtonVisible()">
                <ion-button *ngFor="let page of pages"
                            class="ion-text-capitalize"
                            routerLink="{{page.url}}">{{page.title}}</ion-button>
            </ion-item>
            <ion-menu-button [hidden]="isMenuButtonVisible()"></ion-menu-button>
        </ion-buttons>
        <ion-buttons>
            <ion-item routerLink="{{goHome}}" color="dark" lines="none">
                <ion-avatar>
                    <img alt="" src="{{logoImage}}">
                </ion-avatar>
                <ion-title class="ion-text-start; ion-text-capitalize">Blog Analogico</ion-title>
            </ion-item>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<app-menu [pages]="pages"></app-menu>
