<ion-content color="light">
    <ion-grid fixed="true">
        <ion-row>
            <ion-col style="padding-top:5%">
                <p align="center">{{publication.date | date}}</p>
                <ion-item lines="none" color="light">
                    <ion-title style="text-align: center; font-size: 40px;">
                     <strong>{{publication.title}}</strong>
                    </ion-title>
                </ion-item>
                <ion-img src="{{publication.urlToImage}}" style="padding-top: 2%"></ion-img>
                <br>
                <ion-item lines="none" color="light">
                    <ion-text style="font-size: 18px">{{publication.content}}</ion-text>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
